<%= form_with(model: @product) do |form| %>
    <div>
        <%= form.label :title%><br>
        <%= form.text_field :title%>
    </div>
    <div>
        <%= form.label :description%><br>
        <%= form.text_area :description, cols:40, rows:8%>
    </div>
    <div>
        <%= form.label :price%><br>
        <%= form.text_field :price%>
    </div>
    <%= form.submit%>
<% end %>